.container {
  direction: rtl;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: var(--color-background-light);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: var(--font-size-heading);
  font-family: var(--font-arabic-head);
  color: var(--color-text-title);
  margin-bottom: 10px;
}

.header p {
  font-size: var(--font-size-body);
  color: var(--color-text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup label {
  font-size: var(--font-size-body);
  color: var(--color-text-body);
  font-weight: 600;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-body);
  font-family: var(--font-arabic-body);
  color: var(--color-text-body);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background: var(--color-background-light);
  transition: border-color 0.2s;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
  border-color: var(--color-accent-primary);
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.submitButton {
  padding: 12px 20px;
  font-size: var(--font-size-body);
  font-family: var(--font-arabic-body);
  font-weight: 600;
  color: var(--color-background-light);
  background: var(--color-button-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background: var(--color-button-primary-hover);
}

.successMessage {
  margin-top: 10px;
  font-size: var(--font-size-body);
  color: var(--color-success);
  text-align: center;
}

.errorMessage {
  margin-top: 10px;
  font-size: var(--font-size-body);
  color: var(--color-error);
  text-align: center;
}

.secondaryButton{
  padding: 12px 20px;
  font-size: var(--font-size-body);
  font-family: var(--font-arabic-body);
  font-weight: 600;
  color: var(--color-background-light);
  background: var(--color-background-primary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  margin: 0 10px;
}
.secondaryButton:hover{
  background: var(--color-background-secondary);
  border-color: var(--color-interactive);
}