.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: right;
  direction: rtl;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.contactForm {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid var(--color-accent-primary);
  border-radius: 8px;
  background-color: var(--color-background-light);
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.input, .textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.submitButton {
  align-self: flex-end;
  background-color: #8C6BB1;
  color: white;
  width: max-content;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

}

.submitButton:hover {
  background-color: #735499;
}
