.tabContent {
  margin-top: 1rem;
  display: flex;
  justify-content: center; /* center the grid */
  width: 100%;
  direction: rtl;
  margin-bottom: 2rem ;
}

.articlesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 1.5rem; /* spacing between cards */
  max-width: 1100px; /* center and limit width */
  width: 100%;
}
