.section {
  width: 90%;
  margin: 40px auto;
  font-family: var(--font-arabic-title);
  bottom: 10px;
}

.sectionTitle {
  font-size: var(--font-size-subheading);
  font-weight: bold;
  margin-bottom: 25px;
  text-align: right;
  color: var(--color-text-title);
  font-family: var(--font-arabic-head);
  width : 90%;
}