.highlight {
  background:  var(--color-background-light);
  border-right: 4px solid var(--color-accent-primary);
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;
  font-size: 1.1rem;
  color: #7a5c00;
  box-shadow: 0 1px 4px rgba(255, 224, 102, 0.08);
  direction: rtl;
}

.similarLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.similarImage {
  width: 350px;
 aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid var(--color-background-light);
}
.similarTitle {
  font-weight: bold;
  color: var(--color-accent-primary);
  font-size: var(--font-size-subheading);
  margin: 0;
}
