.container {
  display: flex;
  column-gap: 20px;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  outline: 2px solid #af308b;
  border-radius: 50%;
  transition: outline-offset 0.25s, outline-color 0.25s, background-color 0.25s;
  color: black;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  outline-offset: 4px;
  background-color:#563d90;
  outline-color: #563d90;;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon:hover svg {
  animation: shake 0.25s;
}

@keyframes shake {
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
}
