.imageSection {
  padding: 1rem;
  background-color: var(--color-background-light);
  border-radius: 12px;
  direction: rtl;
  margin-top: 4%;
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.heading h1 {
  font-family: var(--font-arabic-head);
  font-size: var(--font-size-subheading);
  color: var(--color-text-title);
  margin: 0;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.arrow {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.imageWrapper {
  flex: 1 0 calc(20% - 0.5rem);
  max-width: calc(20% - 0.5rem);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Modal / Slider */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
 
}

.modalContent {
  position: relative;
  max-width:80%;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
   margin-top: 4%;
}

.sliderImageWrapper {
  width: 80vw;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-background-secondary);
  color: white;
  font-size: 2.5rem;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Buttons */
.navButton {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  margin: 0 1rem;
  user-select: none;
}
